html,
body {
  padding: 0;
  margin: 0;
  font-family: "Vazir", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

button,
form,
input {
  font-family: "Vazir", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: clamp(1.8rem, 2.5vw, 2.8rem);
}

h2 {
  font-size: clamp(1.5rem, 2vw, 2.4rem);
}

h3 {
  font-size: clamp(1.25rem, 1.5vw, 2rem);
}

h4 {
  font-size: clamp(1.1rem, 1.2vw, 1.5rem);
}

h5 {
  font-size: clamp(1.1rem, 1.2vw, 1.2rem);
}

p,
li,
td,
th,
button {
  line-height: 1.5;
  font-size: clamp(1rem, 1.2vw, 1.2rem);
}
